@import "tailwindcss";

@theme {
  --font-display: "Aldrich", sans-serif;
  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  --color-brand: #ffffff;
  --color-brand-bg: #000000;
}
